xslt2transform/src/xslt2transform/genres.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="genres">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="genre" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" maxOccurs="unbounded" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="name" use="required" type="xs:string"/>
						<xs:attribute name="average-price" use="required" type="xs:decimal"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
